body{
    background-color: #1e1f1e;
    color: #f8f8f2;
    font-family: sans-serif;
    margin: 0;
}
nav {
    padding: 5px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    -webkit-app-region: drag;
    -webkit-user-select: none;
    user-select: none;
}

.left-nav {
    cursor: default;
    -webkit-app-region: no-drag;
}

.rigth-nav {
    cursor: default;
    -webkit-app-region: no-drag;
}

.minimize-nav{
    width: 40px;
    height: 20px;
    border: none;
    outline: none;
    background-size: 11px;
    background-image: url(../images/icons/minimize.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
}

.minimize-nav:hover {
    background-image: url(../images/icons/minimize.svg);
}

.maximize-nav{
    width: 40px;
    height: 20px;
    border: none;
    outline: none;
    background-size: 11px;
    background-image: url(../images/icons/restore_down.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
}

.maximize-nav:hover {
    background-image: url(../images/icons/restore_down.svg);
}

.close-nav{
    width: 20px;
    height: 20px;
    border: none;
    outline: none;
    background-size: 11px;
    background-image: url(../images/icons/close.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
}

.close-nav:hover {
    background-image: url(../images/icons/close.svg);
}

.btn-nav {
    font-size: 14px;
    padding-left: 6px;
    padding-right: 6px;
    color: #c5c5c5;
}

.btn-nav:hover{
    color: #f8f8f2;
}